.profile-layout{
    display:flex;
    min-height:100vh;
    background:#07152d;
}

.profile-container{
    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;
}

.profile-card{

    width:480px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border-radius:30px;

    padding:50px;

    box-shadow:
    0 15px 40px rgba(0,0,0,.3);
}

.profile-top{

    display:flex;

    flex-direction:column;

    align-items:center;

    margin-bottom:40px;
}

.profile-avatar{

    width:85px;

    height:85px;

    border-radius:50%;

    background:
    linear-gradient(
    90deg,
    #7c3aed,
    #d946ef);

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:32px;

    font-weight:700;

    margin-bottom:20px;
}

.profile-top h1{

    color:white;

    font-size:38px;

    margin-bottom:10px;
}

.profile-top p{

    color:#cbd5e1;

    font-size:18px;
}

.profile-form{

    display:flex;

    flex-direction:column;

    gap:22px;
}

.field{

    display:flex;

    flex-direction:column;
}

.field label{

    color:white;

    font-size:17px;

    font-weight:500;

    margin-bottom:10px;
}

.profile-form input{

    width:100%;

    box-sizing:border-box;

    padding:18px 22px;

    border:none;

    outline:none;

    border-radius:18px;

    background:#34446b;

    color:white;

    font-size:17px;

    transition:.3s;
}

.profile-form input::placeholder{

    color:#94a3b8;
}

.profile-form input:focus{

    background:#3d4f7b;

    box-shadow:
    0 0 0 3px rgba(167,85,255,.35);
}

.profile-form button{

    margin-top:15px;

    width:240px;

    align-self:center;

    padding:18px;

    border:none;

    border-radius:20px;

    background:
    linear-gradient(
    90deg,
    #7c3aed,
    #d946ef);

    color:white;

    font-size:20px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.profile-form button:hover{

    transform:translateY(-3px);

    box-shadow:
    0 10px 30px rgba(185,80,255,.5);
}

.profile-form button:active{

    transform:scale(.98);
}