.campaign-layout{
    display:flex;
    min-height:100vh;
    background:#020f2f;
}

.campaign-container{
    flex:1;
    padding:50px;
}

.campaign-header h1{
    color:white;
    font-size:55px;
    margin-bottom:10px;
}

.campaign-header p{
    color:#9ca3af;
    font-size:20px;
    margin-bottom:40px;
}

.campaign-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}
.campaign-card{
    background:#1d2540;
    border-radius:25px;
    padding:25px;
    max-width:320px;
    min-height:320px;
    transition:.3s;
    border:1px solid rgba(255,255,255,.08);
}

.campaign-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(124,58,237,.35);
}

.campaign-icon{
    width:80px;
    height:80px;
    border-radius:50%;
    background:#2a3152;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    margin:auto;
    margin-bottom:20px;
}

.campaign-card h2{
    color:white;
    margin-bottom:15px;
    font-size:30px;
}

.campaign-description{
    color:#cbd5e1;
    line-height:1.6;
    margin-bottom:25px;
}

.campaign-info{
    display:flex;
    justify-content:space-between;
    color:#d1d5db;
    margin-bottom:25px;
}

.status.active{
    color:#22c55e;
    font-weight:600;
}

.status{
    background:#0f5132;
    color:#22c55e;
    padding:8px 15px;
    border-radius:15px;
    font-weight:600;
}

.participate-btn{
    width:100%;
    border:none;
    padding:15px;
    border-radius:18px;
    background:linear-gradient(90deg,#7c3aed,#d946ef);
    color:white;
    font-size:17px;
    cursor:pointer;
}

.participate-btn:hover{
    transform:scale(1.03);
}